:root{
    --branco: #ffff;
    --gelo: #f1f1f1;
    --roxo:#392361;
    --preto:#2a2a2a;

}

.prod-detail {
    background: var(--roxo);
    width: auto;
    height: auto; /* Ajusta conforme o conteúdo */
    min-height: 300px; /* Define um tamanho mínimo */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 25px; /* Dá um espaço interno para não ficar muito justo */
}

.prod-detail img{
    max-width: 400px;
}

.buttons-top{
    display: flex;
    width: 100%;
    position: absolute;
    top: 20px;
    justify-content: space-between;
    align-items: center;
}




.buttons-top a {
    width: 40px;
    height: 40px;
    background-color: var(--branco);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--preto);
    border:1px solid var(--gelo);
    font-size: 18px;
}

.buttons-top a:first-child{
    margin-left: 20px;
    margin-right: auto;
}

.buttons-top a:last-child{
    margin-right: 20px;
    margin-left: 5px;
}


.prod-content{
    margin-top: 505;
    background: var(--branco);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    z-index: 99;

}

.line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}


table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,td{
    padding: 1px;
    text-align: center;
}

.flex-40{
    flex: 40%;
}

.flex-60{
    flex: 60%;
}

.add-cart{
    width: 90%;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: var(--roxo);
    color: var(--branco);
    cursor: pointer;
    font-size: 15px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}




.job-info {
    padding: 10px;
}



.job-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    color: var(--preto);
}




